In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import pandas_profiling 
from pandas_profiling import ProfileReport as pp

In [5]:
#importing datasets
train_df = pd.read_csv("Train.csv")
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     4809 non-null   object
 1   country                4809 non-null   object
 2   age_group              4809 non-null   object
 3   travel_with            3695 non-null   object
 4   total_female           4806 non-null   float64
 5   total_male             4804 non-null   float64
 6   purpose                4809 non-null   object
 7   main_activity          4809 non-null   object
 8   info_source            4809 non-null   object
 9   tour_arrangement       4809 non-null   object
 10  package_transport_int  4809 non-null   object
 11  package_accomodation   4809 non-null   object
 12  package_food           4809 non-null   object
 13  package_transport_tz   4809 non-null   object
 14  package_sightseeing    4809 non-null   object
 15  package_guided_tour    4809 non-null   object
 16  package_insurance      4809 non-null   object
 17  night_mainland         4809 non-null   float64
 18  night_zanzibar         4809 non-null   float64
 19  payment_mode           4809 non-null   object
 20  first_trip_tz          4809 non-null   object
 21  most_impressing        4496 non-null   object
 22  total_cost             4809 non-null   float64
dtypes: float64(5), object(18)
memory usage: 864.2+ KB

In [4]:
#test data
test_df = pd.read_csv('Test.csv')
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1601 non-null   object
 1   country                1601 non-null   object
 2   age_group              1601 non-null   object
 3   travel_with            1274 non-null   object
 4   total_female           1600 non-null   float64
 5   total_male             1599 non-null   float64
 6   purpose                1601 non-null   object
 7   main_activity          1601 non-null   object
 8   info_source            1601 non-null   object
 9   tour_arrangement       1601 non-null   object
 10  package_transport_int  1601 non-null   object
 11  package_accomodation   1601 non-null   object
 12  package_food           1601 non-null   object
 13  package_transport_tz   1601 non-null   object
 14  package_sightseeing    1601 non-null   object
 15  package_guided_tour    1601 non-null   object
 16  package_insurance      1601 non-null   object
 17  night_mainland         1601 non-null   int64
 18  night_zanzibar         1601 non-null   int64
 19  payment_mode           1601 non-null   object
 20  first_trip_tz          1601 non-null   object
 21  most_impressing        1490 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 275.3+ KB