In [1]:
#Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
#importing data
train_df =  pd.read_csv('Train.csv')
train_df.sample(5)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
3817,tour_5634,SOUTH AFRICA,25-44,Spouse,1.0,1.0,Leisure and Holidays,Cultural tourism,"Travel, agent, tour operator",Package Tour,...,Yes,No,No,No,0.0,7.0,Credit Card,Yes,Friendly People,5237082.9
746,tour_1915,CANADA,45-64,Children,1.0,1.0,Leisure and Holidays,Conference tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,13.0,0.0,Cash,Yes,Good service,28177500.0
3856,tour_5681,BRAZIL,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,45.0,6.0,Credit Card,Yes,"Wonderful Country, Landscape, Nature",5071950.0
1699,tour_3070,ZAMBIA,25-44,Alone,0.0,1.0,Other,Hunting tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,1.0,0.0,Cash,No,Wildlife,175000.0
3614,tour_5381,AUSTRALIA,25-44,Friends/Relatives,2.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,4.0,5.0,Credit Card,Yes,Wildlife,1134665.0

In [6]:
test_df = pd.read_csv('Test.csv')
test_df.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing
0,tour_1,AUSTRALIA,45-64,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,Yes,Yes,10,3,Cash,Yes,Wildlife
1,tour_100,SOUTH AFRICA,25-44,Friends/Relatives,0.0,4.0,Business,Wildlife tourism,Tanzania Mission Abroad,Package Tour,...,No,No,No,No,No,13,0,Cash,No,"Wonderful Country, Landscape, Nature"
2,tour_1001,GERMANY,25-44,Friends/Relatives,3.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,No,7,14,Cash,No,No comments
3,tour_1006,CANADA,24-Jan,Friends/Relatives,2.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,No,0,4,Cash,Yes,Friendly People
4,tour_1009,UNITED KINGDOM,45-64,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,Yes,Yes,No,No,No,10,0,Cash,Yes,Friendly People

In [9]:
train_df.shape

(4809, 23)

In [12]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     4809 non-null   object
 1   country                4809 non-null   object
 2   age_group              4809 non-null   object
 3   travel_with            3695 non-null   object
 4   total_female           4806 non-null   float64
 5   total_male             4804 non-null   float64
 6   purpose                4809 non-null   object
 7   main_activity          4809 non-null   object
 8   info_source            4809 non-null   object
 9   tour_arrangement       4809 non-null   object
 10  package_transport_int  4809 non-null   object
 11  package_accomodation   4809 non-null   object
 12  package_food           4809 non-null   object
 13  package_transport_tz   4809 non-null   object
 14  package_sightseeing    4809 non-null   object
 15  package_guided_tour    4809 non-null   object
 16  package_insurance      4809 non-null   object
 17  night_mainland         4809 non-null   float64
 18  night_zanzibar         4809 non-null   float64
 19  payment_mode           4809 non-null   object
 20  first_trip_tz          4809 non-null   object
 21  most_impressing        4496 non-null   object
 22  total_cost             4809 non-null   float64
dtypes: float64(5), object(18)
memory usage: 864.2+ KB

In [23]:
train_df1 = train_df['travel_with'].fillna('unknown', inplace=True)
train_df1.sample(10)

AttributeError: 'NoneType' object has no attribute 'sample'

In [19]:
ncountries = train_df.groupby(['country']).sum()
countries

,total_female,total_male,night_mainland,night_zanzibar,total_cost
country,,,,,
ALGERIA,6.0,1.0,15.0,21.0,4.563098e+06
ANGOLA,1.0,1.0,6.0,12.0,5.000000e+05
ARGENTINA,1.0,1.0,6.0,3.0,1.044225e+07
AUSTRALIA,185.0,126.0,1647.0,348.0,2.743132e+09
AUSTRIA,17.0,15.0,167.0,87.0,1.375216e+08
...,...,...,...,...,...
UNITED STATES OF AMERICA,711.0,649.0,7007.0,742.0,8.890832e+09
URUGUAY,1.0,1.0,0.0,10.0,1.657500e+05
YEMEN,2.0,2.0,19.0,0.0,3.856250e+05
ZAMBIA,53.0,181.0,871.0,29.0,2.389226e+08
ZIMBABWE,68.0,294.0,714.0,35.0,2.956775e+08

In [22]:
countries_size = train_df.groupby(['country'], sort= False).size().rename(index = 'count')
countries_size

country
SWIZERLAND                   64
UNITED KINGDOM              533
CHINA                        65
SOUTH AFRICA                235
UNITED STATES OF AMERICA    695
                           ...
URUGUAY                       1
MORROCO                       1
THAILAND                      2
BERMUDA                       1
ESTONIA                       1
Length: 105, dtype: int64

In [ ]:
sns.histplot(data = countries_size, x=)