In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import pandas_profiling 
from pandas_profiling import ProfileReport as pp

In [5]:
#importing datasets
train_df = pd.read_csv("Train.csv")
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     4809 non-null   object
 1   country                4809 non-null   object
 2   age_group              4809 non-null   object
 3   travel_with            3695 non-null   object
 4   total_female           4806 non-null   float64
 5   total_male             4804 non-null   float64
 6   purpose                4809 non-null   object
 7   main_activity          4809 non-null   object
 8   info_source            4809 non-null   object
 9   tour_arrangement       4809 non-null   object
 10  package_transport_int  4809 non-null   object
 11  package_accomodation   4809 non-null   object
 12  package_food           4809 non-null   object
 13  package_transport_tz   4809 non-null   object
 14  package_sightseeing    4809 non-null   object
 15  package_guided_tour    4809 non-null   object
 16  package_insurance      4809 non-null   object
 17  night_mainland         4809 non-null   float64
 18  night_zanzibar         4809 non-null   float64
 19  payment_mode           4809 non-null   object
 20  first_trip_tz          4809 non-null   object
 21  most_impressing        4496 non-null   object
 22  total_cost             4809 non-null   float64
dtypes: float64(5), object(18)
memory usage: 864.2+ KB

In [6]:
train_df.shape

(4809, 23)

In [4]:
#test data
test_df = pd.read_csv('Test.csv')
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1601 non-null   object
 1   country                1601 non-null   object
 2   age_group              1601 non-null   object
 3   travel_with            1274 non-null   object
 4   total_female           1600 non-null   float64
 5   total_male             1599 non-null   float64
 6   purpose                1601 non-null   object
 7   main_activity          1601 non-null   object
 8   info_source            1601 non-null   object
 9   tour_arrangement       1601 non-null   object
 10  package_transport_int  1601 non-null   object
 11  package_accomodation   1601 non-null   object
 12  package_food           1601 non-null   object
 13  package_transport_tz   1601 non-null   object
 14  package_sightseeing    1601 non-null   object
 15  package_guided_tour    1601 non-null   object
 16  package_insurance      1601 non-null   object
 17  night_mainland         1601 non-null   int64
 18  night_zanzibar         1601 non-null   int64
 19  payment_mode           1601 non-null   object
 20  first_trip_tz          1601 non-null   object
 21  most_impressing        1490 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 275.3+ KB

In [11]:
X = train_df.drop(['total_cost'], axis =1)
y = train_df['total_cost']

In [12]:
X.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,No,13.0,0.0,Cash,No,Friendly People
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,No,14.0,7.0,Cash,Yes,"Wonderful Country, Landscape, Nature"
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,No,1.0,31.0,Cash,No,Excellent Experience
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,Yes,No,11.0,0.0,Cash,Yes,Friendly People
4,tour_1004,CHINA,1-24,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,No,7.0,4.0,Cash,Yes,No comments

In [13]:
## Feature Extraction
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     4809 non-null   object
 1   country                4809 non-null   object
 2   age_group              4809 non-null   object
 3   travel_with            3695 non-null   object
 4   total_female           4806 non-null   float64
 5   total_male             4804 non-null   float64
 6   purpose                4809 non-null   object
 7   main_activity          4809 non-null   object
 8   info_source            4809 non-null   object
 9   tour_arrangement       4809 non-null   object
 10  package_transport_int  4809 non-null   object
 11  package_accomodation   4809 non-null   object
 12  package_food           4809 non-null   object
 13  package_transport_tz   4809 non-null   object
 14  package_sightseeing    4809 non-null   object
 15  package_guided_tour    4809 non-null   object
 16  package_insurance      4809 non-null   object
 17  night_mainland         4809 non-null   float64
 18  night_zanzibar         4809 non-null   float64
 19  payment_mode           4809 non-null   object
 20  first_trip_tz          4809 non-null   object
 21  most_impressing        4496 non-null   object
dtypes: float64(4), object(18)
memory usage: 826.7+ KB

In [14]:
#We will need to encode categorical data 
# Frequency encoding and onehot encoder
main_fe = X.groupby('main_activity').size()/len(X)
X.loc[:, 'main_activity_fe'] = X['main_activity'].map(main_fe)

In [15]:
payment = X.groupby('payment_mode').size()/len(X)
X.loc[:, 'payment_mode_fe'] = X['payment_mode'].map(payment)

In [16]:
purposee = X.groupby('purpose').size()/len(X)
X.loc[:, 'purpose_fe'] = X['purpose'].map(purposee)

In [19]:
country_size = X['country'].value_counts()
country_size

UNITED STATES OF AMERICA    695
UNITED KINGDOM              533
ITALY                       393
FRANCE                      280
ZIMBABWE                    274
                           ...
TRINIDAD TOBACCO              1
LESOTHO                       1
CYPRUS                        1
MADAGASCAR                    1
GEORGIA                       1
Name: country, Length: 105, dtype: int64

In [20]:
country_fe = X.groupby('country').size()/len(X)
X.loc[:, 'country_fe'] = X['country'].map(country_fe)

In [21]:
X.head(3)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,main_activity_fe,payment_mode_fe,purpose_fe,country_fe
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,13.0,0.0,Cash,No,Friendly People,0.469744,0.86754,0.590559,0.013308
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,14.0,7.0,Cash,Yes,"Wonderful Country, Landscape, Nature",0.074652,0.86754,0.590559,0.110834
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,1.0,31.0,Cash,No,Excellent Experience,0.074652,0.86754,0.131628,0.110834

In [22]:
most_impressing_fe = X.groupby('most_impressing').size()/len(X)
X.loc[:,'most_impressing_fe'] = X['most_impressing'].map(most_impressing_fe)

In [23]:
X = pd.get_dummies(X, prefix = ["first_trip"], columns = ['first_trip_tz'])
X.head(3)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,night_zanzibar,payment_mode,most_impressing,main_activity_fe,payment_mode_fe,purpose_fe,country_fe,most_impressing_fe,first_trip_No,first_trip_Yes
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,0.0,Cash,Friendly People,0.469744,0.86754,0.590559,0.013308,0.320441,1,0
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,7.0,Cash,"Wonderful Country, Landscape, Nature",0.074652,0.86754,0.590559,0.110834,0.105427,0,1
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,31.0,Cash,Excellent Experience,0.074652,0.86754,0.131628,0.110834,0.056353,1,0

In [24]:
X = pd.get_dummies(X, prefix = ["tour_arrangement"], columns = ['tour_arrangement'])
X.head(2)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,package_transport_int,...,most_impressing,main_activity_fe,payment_mode_fe,purpose_fe,country_fe,most_impressing_fe,first_trip_No,first_trip_Yes,tour_arrangement_Independent,tour_arrangement_Package Tour
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",No,...,Friendly People,0.469744,0.86754,0.590559,0.013308,0.320441,1,0,1,0
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,No,...,"Wonderful Country, Landscape, Nature",0.074652,0.86754,0.590559,0.110834,0.105427,0,1,1,0

In [26]:
info_source_fe = X.groupby('info_source').size()/len(X)
X.loc[:,'info_source_fe'] = X['info_source'].map(info_source_fe)

In [27]:
X = pd.get_dummies(X, prefix = ["package_food"], columns = ['package_food'])
X.head(2)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,package_transport_int,...,purpose_fe,country_fe,most_impressing_fe,first_trip_No,first_trip_Yes,tour_arrangement_Independent,tour_arrangement_Package Tour,info_source_fe,package_food_No,package_food_Yes
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",No,...,0.590559,0.013308,0.320441,1,0,1,0,0.339988,1,0
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,No,...,0.590559,0.110834,0.105427,0,1,1,0,0.101892,1,0

In [28]:
X = pd.get_dummies(X, prefix = ["package_accomodation"], columns = ['package_accomodation'])
X.head(2)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,package_transport_int,...,most_impressing_fe,first_trip_No,first_trip_Yes,tour_arrangement_Independent,tour_arrangement_Package Tour,info_source_fe,package_food_No,package_food_Yes,package_accomodation_No,package_accomodation_Yes
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",No,...,0.320441,1,0,1,0,0.339988,1,0,1,0
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,No,...,0.105427,0,1,1,0,0.101892,1,0,1,0

In [29]:
X = pd.get_dummies(X, prefix = ["package_transport"], columns = ['package_transport_tz'])
X.head(2)

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,package_transport_int,...,first_trip_Yes,tour_arrangement_Independent,tour_arrangement_Package Tour,info_source_fe,package_food_No,package_food_Yes,package_accomodation_No,package_accomodation_Yes,package_transport_No,package_transport_Yes
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",No,...,0,1,0,0.339988,1,0,1,0,1,0
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,No,...,1,1,0,0.101892,1,0,1,0,1,0

In [31]:
X = pd.get_dummies(X, prefix = ["package_guidetour"], columns = ['package_guided_tour'])

In [32]:
X = pd.get_dummies(X, prefix = ["package_insurance"], columns = ['package_insurance'])

In [33]:
X = pd.get_dummies(X, prefix = ["package_sightseeing"], columns = ['package_sightseeing'])

In [34]:
travel_with_fe = X.groupby('travel_with').size()/len(X)
X.loc[:, 'travel_with_fe'] = X['travel_with'].map(travel_with_fe)

In [35]:
age_group_fe = X.groupby('age_group').size()/len(X)
X.loc[:, 'age_group_fe'] = X['age_group'].map(age_group_fe)

In [36]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 38 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             4809 non-null   object
 1   country                        4809 non-null   object
 2   age_group                      4809 non-null   object
 3   travel_with                    3695 non-null   object
 4   total_female                   4806 non-null   float64
 5   total_male                     4804 non-null   float64
 6   purpose                        4809 non-null   object
 7   main_activity                  4809 non-null   object
 8   info_source                    4809 non-null   object
 9   package_transport_int          4809 non-null   object
 10  night_mainland                 4809 non-null   float64
 11  night_zanzibar                 4809 non-null   float64
 12  payment_mode                   4809 non-null   object
 13  most_impressing                4496 non-null   object
 14  main_activity_fe               4809 non-null   float64
 15  payment_mode_fe                4809 non-null   float64
 16  purpose_fe                     4809 non-null   float64
 17  country_fe                     4809 non-null   float64
 18  most_impressing_fe             4496 non-null   float64
 19  first_trip_No                  4809 non-null   uint8
 20  first_trip_Yes                 4809 non-null   uint8
 21  tour_arrangement_Independent   4809 non-null   uint8
 22  tour_arrangement_Package Tour  4809 non-null   uint8
 23  info_source_fe                 4809 non-null   float64
 24  package_food_No                4809 non-null   uint8
 25  package_food_Yes               4809 non-null   uint8
 26  package_accomodation_No        4809 non-null   uint8
 27  package_accomodation_Yes       4809 non-null   uint8
 28  package_transport_No           4809 non-null   uint8
 29  package_transport_Yes          4809 non-null   uint8
 30  package_guidetour_No           4809 non-null   uint8
 31  package_guidetour_Yes          4809 non-null   uint8
 32  package_insurance_No           4809 non-null   uint8
 33  package_insurance_Yes          4809 non-null   uint8
 34  package_sightseeing_No         4809 non-null   uint8
 35  package_sightseeing_Yes        4809 non-null   uint8
 36  travel_with_fe                 3695 non-null   float64
 37  age_group_fe                   4809 non-null   float64
dtypes: float64(12), object(10), uint8(16)
memory usage: 901.8+ KB